// header
$header-logo-color: #bbbbbb;
$header-nav-hover-color: #e7e7e7;


// hero
$hero-button-color: #a79770;
$hero-button-hover-color: #9b8a60;
$hero-after-color: #bfbfbf;

// season
$season-color: #000;