* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    .header {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 25px 0;

        .logo {
            cursor: pointer;
            font-size: 50px;
            color: #ccc;
        }

        .navbar {
            align-items: center;
            display: flex;
            gap: 20px;

            span {
                display: none;
                font-size: 40px;
            }

            a {
                color: #000;
                text-decoration: none;
                font-size: 20px;
                transition: .4s all;
                
            }

            a:hover {
                transform: scaleX(1.2);
                font-size: 25px;
                font-weight: bold;
            }
        }
    }
}

/* main */
main {
    background-color: #e5e5e5;

    /* home */
    #home {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://assets.nicepagecdn.com/d2cc3eaa/2602318/images/young-woman-boxer-training-gym-min.jpg);
        width: 100%;
        /* padding: 110px 0; */
        background-size: cover;
        background-position: 50% 0;

        }
        .home-container {
            margin: 0 auto;
            flex-wrap: wrap;
            display: flex;
            width: 70%;
            justify-content: space-between;
            align-items: flex-start;
            padding: 50px 0;

            .home {
                /* margin: 0 auto; */
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 120px 0;
                gap: 30px;
                color: #fff;

                h1 {
                    font-size: 55px;
                }

                p {
                    font-size: 25px;
                }

                button {
                    color: #fff;
                    font-weight: bold;
                    border: none;
                    padding: 10px 30px;
                    background-color: #f1900e;
                    border-radius: 50px;
                }

                button:hover {
                    background-color: #d9820d;
                }
            }
        }
    }

    /* classes */
    #classes {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 80px 0;

        .classes {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            margin: 0 auto;

            h1 {
                text-align: center;
                font-size: 60px;
            }

            .cards {
                display: grid;
                grid-template-columns: repeat(3, 3fr);
                gap: 30px;
                

                .card {
                    box-shadow: 5px 5px 10px #ababab;
                    background-color: #fff;

                    img {
                        height: 278px;
                        object-fit: cover;
                        object-position: 50% 0%;
                        width: 100%;
                    }

                    .texts {
                        background-color: #fff;
                        padding: 30px 30px 60px 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        .card-head {
                            white-space: nowrap;
                            font-size: 30px;
                            font-weight: bold;
                        }

                        .card-info {
                            font-style: italic;
                            font-size: 20px;
                            text-align: center;
                        }

                        .learnmore {
                            a {
                                font-weight: bold;
                                color: #000;
                                text-decoration: none;
                            }

                            a:hover {
                                color: #f1900e;
                            }

                            position: relative;
                        }

                        .learnmore::after {
                            content: "";
                            background-color: #f1900e;
                            position: absolute;
                            height: 2px;
                            width: 100%;
                            bottom: -2px;
                            left: 0;
                        }
                    }
                }
            }
            span {
                position: relative;
                font-style: italic;
                font-size: 18px;
                color: #505050;

                a {
                    color: #505050;
                    text-decoration: none;
                }
            }
            span::after {
                content: "";
                background-color: #000;
                position: absolute;
                height: 1px;
                width: 40%;
                bottom: -2px;
                right: 0;
            }
        }
    }

    /* options */
    #options {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 50px 0;

        .options {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            width: 100%;

            .options-texts {
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                gap: 20px;
                h1 {
                    font-size: 60px;
                }
                
                p {
                    color: #3b3b3b;
                    text-align: center;
                    font-size: 23px;
                }
            }

            .options-cards {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;

                .options-card {
                    text-align: center;
                    box-shadow: 5px 5px 10px #ababab;
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 40px;
                    gap: 50px;

                    .options-head {
                        font-weight: bold;
                        font-size: 40px;
                    }

                    .options-info {
                        font-size: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        color: #3b3b3b;
                    }

                    .options-btn {
                        button {
                            color: #fff;
                            font-weight: bold;
                            border: none;
                            padding: 15px 45px;
                            background-color: #f1900e;
                            border-radius: 50px;
                        }
        
                        button:hover {
                            background-color: #d9820d;
                        }
                    }
                }
            }
        }
    }

    /* contact */
    #contact {
        width: 100%;
        background-color: #fff;

        .container {
            width: 70%;
            justify-content: space-between;
            display: flex;
            margin: 0 auto;
            align-items: center;
            padding: 50px 0;

            .contact {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
                width: 100%;

                h1 {
                    text-align: center;
                    font-size: 60px;
                }

                .contact-box {
                    width: 100%;
                    background-color: #e5e5e5;;
                    display: flex;
                    justify-content: space-between;
                    padding: 30px;
                    gap: 70px;

                    .contact-left {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 30px;

                        p {
                            line-height: 1.5;
                            color: #3b3b3b;
                            font-size: 23px;
                        }

                        .icons {
                            cursor: pointer;
                            font-size: 25px;
                            display: flex;
                            gap: 20px;

                            a{
                                color: #000;
                            }
                        }
                    }

                    .contact-right {
                        gap: 30px;
                        display: flex;
                        flex-direction: column;

                        .name {
                            position: relative;
                            font-size: 20px;
                            display: flex;
                            flex-direction: column;

                            input {
                                border: none;
                                padding: 10px;
                            }
                        }
                        .name::after {
                            content: "";
                            background-color: #000;
                            position: absolute;
                            height: 2px;
                            width: 100%;
                            bottom: -2px;
                            left: 0;
                        }

                        .phone-email {
                            display: flex;
                            gap: 20px;

                            .phone {
                                /* width: 50%; */
                                position: relative;
                                font-size: 20px;
                                display: flex;
                                flex-direction: column;

                                input {
                                    border: none;
                                    padding: 10px;
                                }
                            }

                            .phone::after {
                                content: "";
                                background-color: #000;
                                position: absolute;
                                height: 2px;
                                width: 100%;
                                bottom: -2px;
                                left: 0;
                            }

                            .email {
                                /* width: 50%; */
                                position: relative;
                                font-size: 20px;
                                display: flex;
                                flex-direction: column;

                                input {
                                    border: none;
                                    padding: 10px;
                                }
                            }

                            .email::after {
                                content: "";
                                background-color: #000;
                                position: absolute;
                                height: 2px;
                                width: 100%;
                                bottom: -2px;
                                left: 0;
                            }
                        }

                        .contact-btn {

                            button {
                                width: 100%;
                                color: #fff;
                                font-size: 20px;
                                font-weight: bold;
                                border: none;
                                padding: 15px;
                                background-color: #f1900e;
                                border-radius: 50px;
                            }
            
                            button:hover {
                                background-color: #000;
                            }
                        }
                    }
                }
            }
        }
    
}

footer {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding: 50px;
        text-align: center;
        background-color: #333333;

        p {
            color: #fff;

            a {
                color: #adcce9;
            }

            a:hover {
                text-decoration: none;
                color: #a1a1a1;
            }
        }
    }
}